*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,body{
    height: 100%;
}

/**Divs Gerais**/
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background-color: rgb(180, 180, 180);
    padding: 10px 2% 40px 2%;
}

.logo-1{
    float: left;
    width: 160px;
    height: 60px;
    background-image: url('../imagens/logo1.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-2{
    float: right;
    width: 160px;
    height: 60px;
    background-image: url('../imagens/logo2.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

section.cover-form{
    width: 100%;
}

.bg{
    height: 560px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url('..//imagens/bg-form.jpg');
}

.form-container{
    position: absolute;
    right: 30px;
    top: -2.5%;
    width: 400px;
    height: 105%;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
}

.form-container h2{
    padding: 15px;
    font-weight: normal;
    padding: 25px 15px;
    color: black;
    font-size: 18px;
    background-color: rgb(210, 210, 210);
}

.form-container form{
    margin-top: 8px;
    padding: 15px;
}

.form-container form p{
    font-size: 13px;
    color: #525252;
}

.form-wraper:not(:first-child){
    margin-top: 40px;
}

.form-wraper:last-child{
    margin-top: 20px;
}

.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-container form input[type=submit]{
    background-color: #033c50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    border: 0;
    right: 50px;
    border-radius: 5px;
}

section.chamada{
    width: 100%;
    z-index: 1;
    text-align: center;
}
section.chamada .container{
    background-color: #75bba6;
    padding: 70px 0 50px 0;
}

section.chamada h2{
    display: inline-block;
    width: 98%;
    max-width: 700px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

section.chamada p{
    display: inline-block;
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: normal;
}

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
}

.item-2-mosaico{
    width: 40%;
    padding: 60px 40px;
    background-color: rgb(174, 243, 220);
}

.item-2-mosaico p{
    color: white;
}

footer .container{
    text-align: center;
    padding: 20px 0;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

footer img{
    width: 130px;
}

footer p{
    margin-top: 8px;
}
@media screen and (max-width: 768px){
    .flex-mosaico{
        display: block;
    }
    .item-1-mosaico{
        width: 100%;
    padding-top: 80%;
    }
    .item-2-mosaico{
        width: 100%;
        text-align: justify;
    }
}

@media screen and (max-width: 960px){
    .bg{
        padding: 40px 0;
        height: auto;
        text-align: center;
    }
    .form-container{
        width: 96%;
        height: auto;
        max-width: 400px;
        position: static;
        display: inline-block;
    }
}

@media screen and (max-width: 510px){
    header{
        text-align: center;
    }
    .logo-1,.logo-2{
        margin-top: 10px;
        float: none;
        display: inline-block;
    }
}